PANDASCORE_TOKEN=
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=changeme

AIRFLOW_UID=1000
AIRFLOW_FERNET_KEY=
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

GRAFANA_ADMIN_PASSWORD=changeme
